<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <!--Подключение стилей по относительному пути из внешнего файла-->
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
</head>
<header id="header-index">
    <!--Заголовок страницы-->
    <h1>LifeSpot - прямые трансляции с улиц</h1>
    <!--Параграф-->
    <p>Покажем, что происходит прямо сейчас</p>
</header>
<body>
    
    <div class="bordered">
        <input type="text" name="Search" placeholder="Найти видео..." />
        <div>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3 class="video-title">Нью-Йорк, Брайант Парк</h3>
            </div>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3 class="video-title">Санкт-Петербург, Невский Проспект</h3>
            </div>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3 class="video-title">Лондон, автобусный маршрут</h3>
            </div>
        </div>
        
    </div>
</body>
<!--Сайд-бар страницы (пока все ссылки ведут на главную)-->
<aside id="sidebar">
    <div class="navbar">
        <a href="/"><p>Все трансляции</p></a>
        <a href="/"><p>О проекте</p></a>
    </div>
</aside>
<footer>
    <p>LifeSpot - все права защищены</p>
    <p>Связаться с нами: contact@lifespot.ru</p>
</footer>
</html>
